<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.CrmSystem.dao.customerMapper" >
  <resultMap id="BaseResultMap" type="com.CrmSystem.pojo.customer" >
    <constructor >
      <idArg column="cust_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="cust_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="cust_user_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="cust_create_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="cust_source" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="cust_industry" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="cust_level" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="cust_linkman" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="cust_phone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="cust_mobile" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="cust_zipcode" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="cust_address" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="cust_createtime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    cust_id, cust_name, cust_user_id, cust_create_id, cust_source, cust_industry, cust_level, 
    cust_linkman, cust_phone, cust_mobile, cust_zipcode, cust_address, cust_createtime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from crm_customer
    where cust_id = #{custId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from crm_customer
    where cust_id = #{custId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.CrmSystem.pojo.customer" >
    insert into crm_customer (cust_id, cust_name, cust_user_id, 
      cust_create_id, cust_source, cust_industry, 
      cust_level, cust_linkman, cust_phone, 
      cust_mobile, cust_zipcode, cust_address, 
      cust_createtime)
    values (#{custId,jdbcType=BIGINT}, #{custName,jdbcType=VARCHAR}, #{custUserId,jdbcType=BIGINT}, 
      #{custCreateId,jdbcType=BIGINT}, #{custSource,jdbcType=VARCHAR}, #{custIndustry,jdbcType=VARCHAR}, 
      #{custLevel,jdbcType=VARCHAR}, #{custLinkman,jdbcType=VARCHAR}, #{custPhone,jdbcType=VARCHAR}, 
      #{custMobile,jdbcType=VARCHAR}, #{custZipcode,jdbcType=VARCHAR}, #{custAddress,jdbcType=VARCHAR}, 
      #{custCreatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.CrmSystem.pojo.customer" >
    insert into crm_customer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="custId != null" >
        cust_id,
      </if>
      <if test="custName != null" >
        cust_name,
      </if>
      <if test="custUserId != null" >
        cust_user_id,
      </if>
      <if test="custCreateId != null" >
        cust_create_id,
      </if>
      <if test="custSource != null" >
        cust_source,
      </if>
      <if test="custIndustry != null" >
        cust_industry,
      </if>
      <if test="custLevel != null" >
        cust_level,
      </if>
      <if test="custLinkman != null" >
        cust_linkman,
      </if>
      <if test="custPhone != null" >
        cust_phone,
      </if>
      <if test="custMobile != null" >
        cust_mobile,
      </if>
      <if test="custZipcode != null" >
        cust_zipcode,
      </if>
      <if test="custAddress != null" >
        cust_address,
      </if>
      <if test="custCreatetime != null" >
        cust_createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="custId != null" >
        #{custId,jdbcType=BIGINT},
      </if>
      <if test="custName != null" >
        #{custName,jdbcType=VARCHAR},
      </if>
      <if test="custUserId != null" >
        #{custUserId,jdbcType=BIGINT},
      </if>
      <if test="custCreateId != null" >
        #{custCreateId,jdbcType=BIGINT},
      </if>
      <if test="custSource != null" >
        #{custSource,jdbcType=VARCHAR},
      </if>
      <if test="custIndustry != null" >
        #{custIndustry,jdbcType=VARCHAR},
      </if>
      <if test="custLevel != null" >
        #{custLevel,jdbcType=VARCHAR},
      </if>
      <if test="custLinkman != null" >
        #{custLinkman,jdbcType=VARCHAR},
      </if>
      <if test="custPhone != null" >
        #{custPhone,jdbcType=VARCHAR},
      </if>
      <if test="custMobile != null" >
        #{custMobile,jdbcType=VARCHAR},
      </if>
      <if test="custZipcode != null" >
        #{custZipcode,jdbcType=VARCHAR},
      </if>
      <if test="custAddress != null" >
        #{custAddress,jdbcType=VARCHAR},
      </if>
      <if test="custCreatetime != null" >
        #{custCreatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.CrmSystem.pojo.customer" >
    update crm_customer
    <set >
      <if test="custName != null" >
        cust_name = #{custName,jdbcType=VARCHAR},
      </if>
      <if test="custUserId != null" >
        cust_user_id = #{custUserId,jdbcType=BIGINT},
      </if>
      <if test="custCreateId != null" >
        cust_create_id = #{custCreateId,jdbcType=BIGINT},
      </if>
      <if test="custSource != null" >
        cust_source = #{custSource,jdbcType=VARCHAR},
      </if>
      <if test="custIndustry != null" >
        cust_industry = #{custIndustry,jdbcType=VARCHAR},
      </if>
      <if test="custLevel != null" >
        cust_level = #{custLevel,jdbcType=VARCHAR},
      </if>
      <if test="custLinkman != null" >
        cust_linkman = #{custLinkman,jdbcType=VARCHAR},
      </if>
      <if test="custPhone != null" >
        cust_phone = #{custPhone,jdbcType=VARCHAR},
      </if>
      <if test="custMobile != null" >
        cust_mobile = #{custMobile,jdbcType=VARCHAR},
      </if>
      <if test="custZipcode != null" >
        cust_zipcode = #{custZipcode,jdbcType=VARCHAR},
      </if>
      <if test="custAddress != null" >
        cust_address = #{custAddress,jdbcType=VARCHAR},
      </if>
      <if test="custCreatetime != null" >
        cust_createtime = #{custCreatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where cust_id = #{custId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.CrmSystem.pojo.customer" >
    update crm_customer
    set cust_name = #{custName,jdbcType=VARCHAR},
      cust_user_id = #{custUserId,jdbcType=BIGINT},
      cust_create_id = #{custCreateId,jdbcType=BIGINT},
      cust_source = #{custSource,jdbcType=VARCHAR},
      cust_industry = #{custIndustry,jdbcType=VARCHAR},
      cust_level = #{custLevel,jdbcType=VARCHAR},
      cust_linkman = #{custLinkman,jdbcType=VARCHAR},
      cust_phone = #{custPhone,jdbcType=VARCHAR},
      cust_mobile = #{custMobile,jdbcType=VARCHAR},
      cust_zipcode = #{custZipcode,jdbcType=VARCHAR},
      cust_address = #{custAddress,jdbcType=VARCHAR},
      cust_createtime = #{custCreatetime,jdbcType=TIMESTAMP}
    where cust_id = #{custId,jdbcType=BIGINT}
  </update>

  <sql id="customerQueryVo">
    <where>
      <if test="cust_name != null and cust_name != ''">
          AND a.cust_name LIKE '%${cust_name}%'
      </if>
      <if test="cust_source != null and cust_source != ''">
          AND a.cust_source = #{cust_source}
      </if>
      <if test="cust_industry != null and cust_industry != ''">
          AND a.cust_industry = #{cust_industry}
      </if>
      <if test="cust_level != null and cust_level != ''">
          AND a.cust_level = #{cust_level}
      </if>
    </where>
  </sql>
  <select id="queryCustomerByQueryVo" parameterType="com.CrmSystem.pojo.customerVo"
  resultType="com.CrmSystem.pojo.customer">
        SELECT
        a.cust_id,
        a.cust_name,
        a.cust_user_id,
        a.cust_create_id,
        b.dict_item_name cust_source,
        c.dict_item_name cust_industry,
        d.dict_item_name cust_level,
        a.cust_linkman,
        a.cust_phone,
        a.cust_mobile,
        a.cust_zipcode,
        a.cust_address,
        a.cust_createtime
        FROM
        crm_customer a
        LEFT JOIN  crm_base_dict b ON a.cust_source = b.dict_id
        LEFT JOIN crm_base_dict c ON a.cust_industry = c.dict_id
        LEFT JOIN crm_base_dict d ON a.cust_level = d.dict_id
  <include refid="customerQueryVo"/>

 </select>

  <!-- 根据id查询用户 -->
  <select id="queryCustomerById" resultType="com.CrmSystem.pojo.customer">
     SELECT * FROM  crm_customer WHERE cust_id = #{id}
  </select>

  <update id="updateCustomerById" parameterType="com.CrmSystem.pojo.customer">
    UPDATE `crm_customer`
    SET
    <if test="cust_name !=null and cust_name != ''">
      `cust_name` = #{cust_name},
    </if>
    <if test="cust_user_id !=null">
          `cust_user_id` = #{cust_user_id},
    </if>
    <if test="cust_create_id !=null">
          `cust_create_id` = #{cust_create_id},
    </if>
    <if test="cust_source !=null and cust_source != ''">
          `cust_source` = #{cust_source},
    </if>
    <if test="cust_industry !=null and cust_industry != ''">
          `cust_industry` = #{cust_industry},
    </if>
    <if test="cust_level !=null and cust_level != ''">
          `cust_level` = #{cust_level},
    </if>
    <if test="cust_linkman !=null and cust_linkman != ''">
          `cust_linkman` = #{cust_linkman},
    </if>
    <if test="cust_phone !=null and cust_phone != ''">
          `cust_phone` = #{cust_phone},
    </if>
    <if test="cust_mobile !=null and cust_mobile != ''">
          `cust_mobile` = #{cust_mobile},
    </if>
    <if test="cust_zipcode !=null and cust_zipcode != ''">
          `cust_zipcode` = #{cust_zipcode},
    </if>
    <if test="cust_address !=null and cust_address != ''">
          `cust_address` = #{cust_address},
    </if>
          `cust_createtime` = NOW()
          WHERE
          (`cust_id` = #{cust_id});
  </update>
  <!-- 根据id删除客户 -->
  <delete id="deleteCustomerById" parameterType="long">
      DELETE FROM
      crm_customer WHERE cust_id = #{id}
 </delete>




 </mapper>